.navbar {
    display: flex;
    justify-content: space-between;
  }

  .navBarText {
    color: var(--mainText);
  
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;  
  }

  form.signup,
  label, 
  .signupBTN {
    margin-top: 20px;
  }