.placesSearchContainter{
    background-color: #005675;
    background-image: url(./pic.jpg);
    height: 800px;
    background-size: cover;
    background-position: center bottom;
}


.input{
    position: absolute;
    top: 30%;
}

.margin{
    margin:10px;
}





  