  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navBarText {
    margin-bottom: 10px;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;  
  }

  h2
  label, 
  .loginBTN {
    margin-top: 20px;
  }

  .card{
    margin-top: 50px;
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
  }

  #createAccountBTN{
    color:white;
  }
  
  #createAccountBTN{
    margin-top: 5px;
  }
  
.LoginSignup{
  background-color: whitesmoke;
}
  
.photo{
  margin-top:50px;
  margin-bottom: 50px;
  height: 600px;

}

.footer{
  background-color: #4682B4;
  color:white;
  height:80px;
}



 

  

