  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navBarText {
    margin-bottom: 10px;
  }

  .logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;  
  }

  h2
  label, 
  .loginBTN {
    margin-top: 20px;
  }

  .container {
    align-items: center;
    justify-content: center;
  
  }

